
.DS_Store
Thumbs.db

*.log

*.tmp
*.swp
*.swo
*.bak

*.class
*.o
*.out
*.obj

node_modules/

__pycache__/
*.pyc
*.pyo

package-lock.json
yarn.lock

.idea/
*.iml

.vscode/

.DS_Store

Thumbs.db

test/

tempCodeRunnerFile.py